<!doctype html>
<html lang="zh-CN">
<head>
    <!--
-------------------------------------------------
   File Name：     box
   Description :
   Author :       HanWen Zhang
   date：          2021/6/11
-------------------------------------------------
   Change Activity:
                   2021/6/11:
-------------------------------------------------
"""
__author__ = 'HanWen Zhang'-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello</title>
    <style>
        .box{
            text-align: center;
        }
        .box a{
            display: inline-block;
            text-decoration: none;
            text-align: center;
            line-height: 36px;
            width: 36px;
            height: 36px;
            background-color: yellow;
        }
        .box .prev, .box .next{
            width: 80px;
        }

    </style>
</head>
<body>
<div class="box">
    <a href="#" class="prev">&lt;&lt;上一页</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#" class="next">&gt;&gt;下一页</a>
</div>

</body>
</html>