<!doctype html>
<html lang="zh-CN">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/learn.css">
    <title>Hello</title>
</head>
<body>
        <div class="top">top</div>
        <div class="banner">
            <div class="w">banner</div>
            </div>
        <div class="box">box
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div>

        <div class="footer">footer
        <button id="btn">唐伯虎</button></div>
        <div class="box2"></div>
<script src="../static/js/learn.js"></script>
</body>
</html>