<!doctype html>
<html lang="zh-CN">
<head>
    <!--
-------------------------------------------------
   File Name：     model_application
   Description :
   Author :       HanWen Zhang
   date：          2021/6/1
-------------------------------------------------
   Change Activity:
                   2021/6/1:
-------------------------------------------------
"""
__author__ = 'HanWen Zhang'-->
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CSS盒子模型应用</title>
</head>
<body>
    <div style="width: 320px;height:320px;border-width: 2px;border-style: dashed">
        <div style="width: 100px;height: 100px;border-width: 1px;background-color: red;margin: 3px;font-size: 20px;text-align: center;line-height: 100px">red</div>
        <div style="width: 100px;height: 100px;border-width: 1px;background-color: green;margin: 3px;font-size: 20px;text-align: center;line-height: 100px">green</div>
        <div style="width: 100px;height: 100px;border-width: 1px;background-color: blue;margin: 3px;float: left;font-size: 20px;text-align: center;line-height: 100px">blue</div>
        <div style="width: 100px;height: 100px;border-width: 1px;background-color: pink;margin: 3px;float: right;font-size: 20px;text-align: center;line-height: 100px">pink</div>
        <div style="width: 100px;height: 100px;border-width: 1px;background-color: yellow;margin: 3px;display:inline-block;font-size: 20px;text-align: center;line-height: 100px">yellow</div>
    </div>
</body>
</html>